@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  font-family: "Lato", BlinkMacSystemFont, -apple-system, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.navbar .logo {
  margin-right: 0.5em;
}

.page-edit {
  text-align: right;
  padding-bottom: 0;
}