@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

body {
  font-family: "Fira Sans", sans-serif;
}

.navbar .logo {
  margin-right: 0.5em;
}

.page-edit {
  text-align: right;
  padding-bottom: 0;
}